<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1428e18b-8cfb-4b8a-9c6f-4d1d5484852d/resourceGroups/contososports/providers/Microsoft.Web/sites/chillsports</ResourceId>
    <ResourceGroup>contososports</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://chillsports.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>chillsports.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>chillsports</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$chillsports</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Contoso.Apps.SportsLeague.Data.Models.ProductContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Contoso.Apps.SportsLeague.Data.Models.ProductContext, Contoso.Apps.SportsLeague.Data" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ContosoSportsLeague" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="{SQL Database Connection String Here}" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ContosoSportsLeague_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="{SQL Database Connection String Here}" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Contoso.Apps.SportsLeague.Data.Models.ProductContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ContosoSportsLeague-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Contoso.Apps.SportsLeague.Data.Models.ProductContext" />
  </ItemGroup>
</Project>